@{
    ViewData["Title"] = "فاکتور";
}

@model dynamic


@section NavItem{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="bill">فاکتور</a>
    </li>
}



<form style="padding:0px 10px 10px 10px; direction:rtl; text-align:center; background-color:gainsboro">
    <header>
         <div style="direction:rtl;" class="text-md-right">
            @{
                var person = Model.personInfo;
                    <p > نام و نام خانوادگی :@person.PersonName </p>
                        <input type="textbox"   id="txtName" value = @person.PersonId />
                    
            }
        </div>

    </header>


    <body>

        <div class="row  text-center">
            <div class="g-col-1">
                <table>

                    <tr>

                        <td>
                            <h5> مجموع مبلغ: </h5>
                        </td>
                        <td>
                            <p>&emsp;</p>
                        </td>
                        <td>
                            <h5 id="total"> 0 </h5>
                        </td>
                        <td>
                            <p>&emsp; &emsp; &emsp; &emsp;</p>
                        </td>
                       
                    </tr>

                </table>
            </div>
            <div class="g-col-2">.g-col-2</div>
        </div>
        <table style=" border-radius: 17px;text-align:justify; background-color:white;height:5vh; width:100%;" class="table">
            <thead>
                <tr>
                    <th style="height:5vh; width:6vh;" scope="col">First</th>
                    <th style="height:5vh; width:28vh;" scope="col">First</th>
                    <th style="height:5vh; width:28vh;" scope="col">Last</th>
                    <th style="height:5vh; width:28vh;" scope="col">Handle</th>
                </tr>
            </thead>
            
        </table>

        @foreach (var dyn743 in Model.tarefeList)
         {
             @if (dyn743.Selected == true)
             {
                 <table style=" border-radius: 17px;text-align:justify; background-color:white;height:5vh; width:100%;" class="table">
                     <tbody>
                         <tr>
                             <td style=" background-color:white;height:5vh; width:6vh;">#</td>
                             <td style=" height:5vh; width:28vh;">@dyn743.TarefeTitle</td>
                             <td style="height:5vh; width:28vh;">@dyn743.TarefeId</td>
                             <td style="height:5vh; width:28vh;">@dyn743.TarefePrice</td>
                             
                         </tr>
                                  
                     </tbody>
                 </table>
             }

                        
         }



        <style>
            .g-col-1 {
                box-sizing: border-box;
                
                width: 50%;
                height: 141px;
                background: #FFD600;
                border-radius: 17px;
                margin:20px;
            }

            .g-col-2 {
                box-sizing: border-box;
                width: 30%;
                height: 141px;
                background: #FFffff;
                border-radius: 17px;
                margin: 20px;
            }

            


        </style>
    </body>

    <footer>
    </footer>

        

</form>


     
        <button id="btnAdd"style="border-radius: 10px;background: #FFD600;" type="AddBill" class="btn btn">ثبت فاکتور</button>





<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
    //$(window).load(function () {
    $(document).ready(function () {
        console.log(`win loaded`);
    //function Calculate() {

    //    var totalPrice = 0;

    //    $("#total").text("0");

    //    $("table").each(function (index, value) {

    //        if ((this.id) == "Selected") {

    //            console.log(`div${index}: ${(this.id).substring(0, 1)} : ${this.value}`);

    //            totalPrice = totalPrice + parseFloat(this.value);

    //            $("#total").text(totalPrice);

    //        }
    //    });

    //};
  
    var name = $('#txtName').val();
    console.log(`test: ${name}`);

 $('#btnAdd').click(function () {
     console.log(`clicked`);
        //var model = {
        //    PersonId: $('#txtName').val(),
        //    S_Family: $('#txtFamily').val(),
        //    S_Mobile: $('#txtMobile').val()

           
        //};

        //$.ajax({
        //    url: "/Home/AddStudent",
        //    type: "Post",
        //    data: model,
        //    dataType: "json",
        //    beforeSend: function () {
        //        //alert('starting...');
        //    },
        //    complete: function () {
        //        //alert('finished!');
        //    },
        //    success: function (data) {

        //        alert(JSON.stringify(data));

        //        alert(data.S_ID+' was added!');
        //    },


        
        
                        $.ajax({

                            type: "POST", //HTTP POST Method
                            url: "SaveFactor", // Controller/method
                            data: { //Passing data
                                PersonId: $('#txtName').val() //$("#txtName").val() //Reading text box values using Jquery

                            }, success: function (data) { location.reload(); }
                        });
                    
                });

        });
        

</script>
